.card-6 {
  background: transparent;
}

.card-6 .card-body {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.7;
}

.card-6 .card-body:before {
  bottom: 100%;
  left: 65px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #fff;
  border-width: 10px;
}
.error {
  color: red;
  margin-left: 10px;
}
